.box{
    background:white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    max-height: 100%;
    height: 100%;
    /* width: 100%; */
}
.boxArrow{
    background:white;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.positionRightArrow{
   transform: translateX(5px);
}
.arrow{
    /* height: 60px; */
    width: 40px;
    user-select: none;
    pointer-events: none;
}
.center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    overflow-x: hidden;
    
}
.topic{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
}
.descript{
    text-align: center;
    font-size: 20px;
}
.size{
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.size-s{
    width: 179px;
    height: 100%;
    transition: 0.2s;
}
.size-s:hover{
    background: rgb(228, 228, 228);
    border-radius: 5%;
}
.size-l{
    width: 179px;
    height: 100%;
    transition: 0.2s;
}
.size-l:hover{
    background: rgb(228, 228, 228);
    border-radius: 5%;
}
.base{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.base-s{
    width: 179px;
    height: 151px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
}
.base-l{
    width: 179px;
    height: 151px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topping{
    background:white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brownie {
    width: 150px;
    height: 100%;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brownie:hover{
    background: rgb(228, 228, 228);
    border-radius: 5%;
}
.toppingBrownie{
    width: 150px;
    height: 100px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
}
.banana {
    width: 150px;
    height: 100%;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banana:hover{
    background: rgb(228, 228, 228);
    border-radius: 5%;
}
.toppingBanana{
    width: 150px;
    height: 100px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
}
.cereal {
    width: 150px;
    height: 100%;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cereal:hover{
    background: rgb(228, 228, 228);
    border-radius: 5%;
}
.toppingCereal{
    width: 150px;
    height: 100px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
}
.sugar{ 
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.normalSugar{
    width: 150px;
    height: 100%;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.normalSugar:hover{
    background: rgb(228, 228, 228);
    border-radius: 5%;
}
.normalPic{
    width: 150px;
    height: 100px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
}
.noSugar{
    width: 150px;
    height: 100%;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noSugar:hover{
    background: rgb(228, 228, 228);
    border-radius: 5%;
}
.noSugarPic{
    width: 150px;
    height: 100px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
    position: relative;
}
.noSugarPic > img {
    position: absolute;
}
.noSugarPic > :first-child {
    top: 0%;
}
.noSugarPic > :nth-child(2) {
    right: 15%;
}
/* .noSugar{
    width: 230px;
    height: 120px;
    position: relative;
    margin-left: 80px;
} */
/* .noSugar > img {
    position: absolute;
}
.noSugar > :first-child {
    bottom: -10%;
    left: 10%;
}
.noSugar > :nth-child(2) {
    right: 30%;
} */
/* .moreSugar{
    width: 260px;
    height: 140px;
    position: relative;
    margin-left: 30px;
}
.moreSugar > img {
    position: absolute;
}
.moreSugar > :first-child {
    top: 0%;
    bottom: 1%;
    right: 20%;
}
.moreSugar > :nth-child(2) {
    top: 10%;
    right: 35%;
}
.moreSugar > :nth-child(3) {
    top: 15%;
    left: 30%;
} */
.sugarDescript{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 100%;
    font-size: 20px;
}
/* .pay{
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cash{
    width: 110px;
    height: 110px;
    margin-top: 20px;
}
.eBank{
    width: 200px;
    height: 70px;
    margin-left: 60px;
}
.half{
    width: 150px;
    height: 110px;
    margin-left: 40px;
}
.payDescript{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100%;
    font-size: 20px;
} */

.SaSp-arrow{
    width: 40px;
    opacity: 0.45;
}