*::-webkit-scrollbar {
  position: absolute;
  width: 10px;
  height: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.scrollable-tape {
  width: calc(100% - 110px);
  height: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 50px 0 0 50px;
  align-items: center;
  padding: 5px 10px;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollable-tape::after {
  position: absolute;
  content: " ";
  top: 0px;
  right: 0px;
  width: 110px;
  height: 50px;
  border-radius: 50px;
  /* background-color: red; */
  box-shadow: 0 0 10px 15px rgba(255, 255, 255, 1);
}

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: max-content;
  height: 35px;
  background-color: #dedede;
  border-radius: 35px;
  margin-right: 7px;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: default;
}

.remove {
  width: 1.25rem;
  height: 1.25rem;
  color: #666666;
  border: none;
  margin-left: 15px;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}

.remove:hover {
  color: #ff3f3f;
}

.clear {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 35px;
  color: #ff3f3f;
  position: absolute;
  background-color: #f3f3f3;
  height: 35px;
  width: 100px;
  top: 7.5px;
  right: 10px;
  border: none;
  transition: all ease-in-out 150ms;
  outline: none;
  cursor: pointer;
}

.clear:hover {
  background-color: #ff3f3f;
  color: white;
  box-shadow: 0 0 7px 0 rgba(255, 61, 61, 0.8);
}

.clear:disabled {
  background-color: #f3f3f3;
  color: #8f8f8f;
  box-shadow: 0 0 0 0 transparent;
  cursor: default;
}

.clear svg {
  height: 1.2rem;
  margin-right: 0.5rem;
}
