.overlay {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .wrapper {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: min-content;
    border-radius: 1rem;
    background: white;
    animation: pop-in .3s;
    padding: 4rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes pop-in {
    0% {
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 0;
    }
    45% {
      transform: translate(-50%, -50%) scale(1.05);
      opacity: 1;
    }
    80% {
      transform: translate(-50%, -50%) scale(0.95);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  .close {
    animation: pop-out forwards .2s;
  }
  
  @keyframes pop-out {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  
    100% {
      transform: translate(-50%, -50%) scale(.5);
      opacity: 0;
    }
  }