.page {
  background: white;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "top    top     top"
    "state  state   display"
    "tape   tape    tape"
    "panel  panel   panel";
  grid-template-rows: 80px auto 80px 250px;
  background: LemonChiffon;
}

.cream {
  grid-area: top;
  z-index: 30;
  pointer-events: none;
  width: 100vw;
  user-select: none;
}

.state {
  grid-area: state;
  background: LemonChiffon;
}

.tape-wrapper {
  grid-area: tape;
  z-index: 20;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tape {
  width: 95%;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  z-index: 21;
  overflow: hidden;
}

.display {
  grid-area: display;
  background: LemonChiffon;
  overflow: hidden;
}

.panel {
  grid-area: panel;
  background: white;
  overflow: hidden;
}
